* {
  margin: 0;
  padding: 0;
}
.brand-title {
  text-align: center;
}

.toggler-button {
  border: none;
}
to .brand-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(0, 0, 255);
}
.pp-container {
  margin: 3% 3%;
}

hr {
  color: rgb(170, 169, 169);
  margin-bottom: 0;
}

.icon {
  margin: 0 3%;
}

.icon:hover {
  padding: 1%;
  color: rgb(0, 0, 255);
  border: 0.5px solid rgb(128, 128, 128);
  border-radius: 100%;
}
.navbar {
  background-color: #fff;
  padding: 2%;
}

.baldwin-quote-container {
  background-color: #ffe4c4;
  padding: 3% 8%;
  text-align: center;
  margin: 0 0;
}
.social-media-icons {
  text-align: center;
}
.search-bar {
  text-align: center;
}

.quote {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 2%;
}

.author {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.statistics {
  margin: 3% 8%;
  text-align: center;
}

.ambedkar-image {
  width: 400px;
  height: 525.5px;
  padding: 0;
}

.about-company {
  background-color: #ffe4c4;
  padding: 3% 10%;
  margin: 0 0;
}

.book {
  margin: 0 10px;
}

#footer {
  padding-top: 7%;
  padding-bottom: 7%;
  background-color: rgb(0, 0, 0);
  color: #fff;
  text-align: center;
}

.copyright {
  padding: 1% 0;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 0.8rem;
}

.footer-icon {
  padding: 20px;
}

.footer-icon:hover {
  padding: 1%;
  color: rgb(0, 0, 255);
  border: 0.5px solid rgb(128, 128, 128);
  border-radius: 100%;
}

@media (max-width: 900px) {
  .baldwin-quote-container {
    text-align: center;
  }

  .social-media-icons {
    text-align: center;
  }

  .search-bar {
    margin: 0 auto;
  }

  .social-media-icons {
    padding: 3%;
  }

  .brand-title {
    padding: 2%;
  }

  .quote {
    font-size: 1.5rem;
    margin-top: 7%;
  }

  .baldwin-image {
    width: 216.5px;
    height: 288.4px;
    margin-top: 30px;
  }

  .ambedkar-image {
    width: 200px;
    height: 262.75px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .about-company {
    text-align: center;
  }
}
